/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Averia Serif Libre', cursive;
}
.container {
  border: 0px solid brown;
  width: 100%;
  height: 260vh;
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}
@media (max-width: 500px) {
  .container {
    height: 500vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
  }
}
.container header {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  .container header {
    height: 100vh;
    display: flex;
    justify-content: center;
  }
}
.container header nav {
  width: 40%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 55%;
  }
}
.container header a {
  text-decoration: none;
  font-size: 1.3rem;
  color: Grey;
}
@media (max-width: 500px) {
  .container header a {
    font-size: 3rem;
    height: 10%;
    padding-top: 75%;
    font-family: 'Londrina Solid', cursive;
  }
}
.container .Intro {
  border: 0px solid brown;
  width: 80%;
  height: 180vh;
  background-color: lightGrey;
  padding: 5%;
}
@media (max-width: 500px) {
  .container .Intro {
    width: 80%;
    height: 200vh;
    background-color: lightGrey;
  }
}
.container .Intro div {
  border: 0px solid brown;
  height: 60%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .Intro div {
    padding: 0 0 ;
    width: 100%;
  }
  .container .Intro div h1,
  .container .Intro div h2,
  .container .Intro div h3 {
    padding-left: 10%;
    font-family: 'Shadows Into Light', cursive;
  }
}
.container .Intro div h1 {
  height: 10%;
}
.container .Intro div h2 {
  height: 10%;
}
.container .Intro div p {
  height: 10%;
}
@media (max-width: 500px) {
  .container .Intro div p {
    padding: 0 0 ;
    width: 100%;
  }
}
.container .Intro div button {
  color: white;
  background: Grey;
  width: 15%;
  height: 15%;
}
.container img {
  width: 40%;
}
@media (max-width: 500px) {
  .container img {
    width: 100%;
  }
}
.container h1 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .container h1 {
    font-size: 2.3rem;
  }
}
.container h2 {
  font-size: 2.4rem;
}
@media (max-width: 500px) {
  .container h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .container .Intro div button {
    height: 20%;
    width: 100%;
    font-size: 2.3rem;
    font-family: 'Londrina Solid', cursive;
  }
}
.container h3 {
  font-size: 1.5rem;
}
.container h4 {
  font-size: 1.8rem;
}
.container p {
  font-size: 1.4rem;
  line-height: 30px;
}
.container .Middle {
  border: 0px solid brown;
  width: 80%;
  height: 180vh;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.container .Middle .inner1,
.container .Middle .inner2 {
  border: 0px solid brown;
  width: 50%;
  height: 100%;
}
@media (max-width: 500px) {
  .container .Middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .Middle .inner1,
  .container .Middle .inner2 {
    width: 100%;
  }
  .container .Middle h2 {
    font-size: 2.6rem;
    font-family: 'Give You Glory', cursive;
  }
}
.container .inner2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .inner2 h2 {
  height: 20%;
}
.container .inner2 .myTable {
  height: 100%;
  border: 0px solid brown;
}
.container .inner2 .myTable div {
  text-align: center;
  padding: 5%;
  width: 80%;
  height: 20%;
  border: 2px solid lightGrey;
}
@media (max-width: 500px) {
  .container .inner2 .myTable div {
    height: 40%;
  }
  .container .inner2 .myTable div h4 {
    font-family: 'Give You Glory', cursive;
  }
}
.container .inner1,
.container .inner2 {
  padding: 4%;
}
.container .inner1 p,
.container .inner2 p {
  margin-top: 6%;
  padding: 4%;
  width: 75%;
}
@media (max-width: 500px) {
  .container .inner1 p,
  .container .inner2 p {
    padding: 0;
    width: 100%;
  }
}
.container .End {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .container .End {
    margin-top: 50%;
    margin-left: 0;
    padding-left: 0;
    height: 200vh;
  }
}
.container .End .Endinner1 {
  margin-top: 2%;
  padding: 2% 5%;
  height: 80%;
  width: 80%;
}
@media (max-width: 500px) {
  .container .End .Endinner1 {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
.container .End .Endinner1 h2 {
  padding-bottom: 2%;
}
.container .End .Endinner2 {
  margin-top: 5%;
  height: 15%;
  width: 80%;
  background: Grey;
  text-align: center;
}
.container .End .Endinner2 p {
  font-size: 1.2rem;
  padding-top: 5px;
  color: white;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .End .Endinner2 {
    margin-top: 50px;
  }
}
.container table {
  height: 20vh;
  width: 50vw;
}
.container table tr {
  border-bottom: 2px solid lightGrey;
  border-top: 2px solid lightGrey;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container table tr {
    border-top: 0px solid white;
    border-bottom: 0px solid white;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
  }
  .container table tr th {
    padding: 5%;
  }
}
.container table tr:nth-child(1) {
  font-weight: bold;
  height: 7vh;
}
.container table tr:nth-child(2),
.container table tr:nth-child(4) {
  background-color: lightGrey;
}
@media (max-width: 500px) {
  .container table tr:nth-child(2),
  .container table tr:nth-child(4) {
    width: 155%;
    padding-right: 15%;
    background-color: lightGrey;
  }
}
.container table td {
  padding-left: 5%;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  .container table td {
    width: 100%;
    padding: 3%;
    padding-left: 3%;
    padding-top: 5%;
  }
}
.container table td:nth-child(2) {
  padding-left: 5%;
}
.container table td:nth-child(3) {
  padding-left: 15%;
}
.container table td:nth-child(4) {
  padding-left: 12%;
}
@media (max-width: 500px) {
  .container table {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
}
